<mat-accordion>
    <mat-expansion-panel *ngFor="let path of paths">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{path.title[path.title.languages[0]]}}
            </mat-panel-title>
            <mat-panel-description>
                {{path.description[path.description.languages[0]]}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-tab-group mat-stretch-tabs>
            <mat-tab label="Data">
                <app-path-description [path]="path"></app-path-description>
            </mat-tab>
            <mat-tab label="Map">
                <app-path-map [path]="path"></app-path-map>
            </mat-tab>
        </mat-tab-group>
    </mat-expansion-panel>
</mat-accordion>