<h1 mat-dialog-title>Aggiungi descrizione</h1>
<div mat-dialog-content>
    <mat-list>
        <mat-list-item *ngFor="let language of description.languages">
            <h3 class="language-name">{{language}}</h3>
            <mat-form-field>
                <input matInput placeholder="Description" [(ngModel)]="description[language]">
            </mat-form-field>
        </mat-list-item>
    </mat-list>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="saveDescription()">Salva</button>
    <button mat-button [mat-dialog-close]="undefined">Cancella</button>
    <button mat-button *ngIf="mode == 'edit'" color="warn" (click)="deleteDescription()">Elimina</button>
</div>