<body style="background-image:url('assets/Sfondo Home.png'); background-size:100%">
  
  <div style="text-align: center;padding-top: 7%;">
      <p style="font-size: 25px">
        Scarica la nostra applicazione
      </p>
      <img src="assets/App-Store-Logo.png" style="width: 250px">
      <img src="assets/google-play-badge.png" style="width: 250px">
  </div>

  <div style="padding-left: 10%; padding-right: 10%; padding-top: 7%; text-align: center; position: relative" >
      <mat-card class="mat-elevation-z16">
        <h2 style="padding-top: 2%">Benvenuti sul sito di Tour</h2>
        <p><br></p>
        <p style="text-align: center">
          La nostra applicazione vi permetterà di esplorare una scelta città
          <br><br>
        </p>
        <p style="text-align: center">
          Esplorerete le città tramite una varietà di percorsi
          <br>
        </p>
        <p><br></p>
      </mat-card>
  </div>
  

</body>




