<body style="background-image:url('assets/Grafica sito.png'); background-size:100%">

  <div style="padding-left:45%;padding-top: 5%;text-shadow: 2px 2px 4px #000000;  color:#ffffff">
      <h1>CIAOOOO</h1>
  </div>

  <div style="padding-left: 10%; padding-right: 10%; padding-top: 10%; text-align: center">
      <mat-card class="mat-elevation-z20">
        <h4>Benvenuti sul sito di Crema Tour</h4>
        <p><br></p><p><br></p>
        <p style="text-align: left">
          La nostra applicazione vi permette di visitare la meravigiosa città di Crema
        </p>
        <p><br></p><p><br></p>
        <p style="text-align: left">
          La nostra applicazione vi permette di visitare la meravigiosa città di Crema
        </p>
        <p><br></p><p><br></p>
        <p style="text-align: left">
          La nostra applicazione vi permette di visitare la meravigiosa città di Crema
        </p>
        <p><br></p><p><br></p>
        <p style="text-align: left">
          La nostra applicazione vi permette di visitare la meravigiosa città di Crema
        </p>
        <p><br></p><p><br></p>
        <p style="text-align: left">
          La nostra applicazione vi permette di visitare la meravigiosa città di Crema
        </p>
        <p><br></p><p><br></p>
        <p style="text-align: left">
          La nostra applicazione vi permette di visitare la meravigiosa città di Crema
        </p>
        <p><br></p><p><br></p>
        <p style="text-align: left">
          La nostra applicazione vi permette di visitare la meravigiosa città di Crema
        </p>
        <p><br></p><p><br></p>
        <p style="text-align: left">
          La nostra applicazione vi permette di visitare la meravigiosa città di Crema
        </p>
        <p><br></p><p><br></p>
        <p style="text-align: left">
          La nostra applicazione vi permette di visitare la meravigiosa città di Crema
        </p>
        <p><br></p><p><br></p>
        <p style="text-align: left">
          La nostra applicazione vi permette di visitare la meravigiosa città di Crema
        </p>

      </mat-card>
  </div>
  

</body>




