<body style="background-image:url('assets/Sfondo Home.png'); background-size: cover">
    <div style="padding: 0 16%; padding-top: 32%; text-align: center; position: relative" >
        <mat-card class="mat-elevation-z16" style="padding: 2% 0;">
            <h2>Benvenuti sul sito di Tour</h2>

            <br>

            <p style="text-align: center">
                La nostra applicazione vi permetterà di esplorare una scelta città
            </p>

            <br>

            <p style="text-align: center">
                Esplorerete le città tramite una varietà di percorsi
            </p>

            <div style="text-align: center;">
                <img src="assets/App-Store-Logo.png" style="width: 250px;">
                <img src="assets/google-play-badge.png" style="width: 250px;">
            </div>
        </mat-card>
    </div>
</body>